<div class="section" id="facerecognition">

{{#if clustersByName}}
	{{> clustersByNamePart
			clustersByName=clustersByName
			personName=personName
			renameHint=renameHint
			hideHint=hideHint
	}}
{{else if bulkAction}}
	<!-- Wrapper – flex container + relative positioning -->
	<div class="layout-wrapper">
	
		<!-- ================== CLOSE BUTTON (top‑right) ================== -->
		<button id="close-bulk-widget"
				title="Close"
				type="button"
				class="primary close-btn"
				aria-label="Close">
			&times;
		</button>

		<!-- ================== LEFT SIDE (original content) ================== -->
		<div class="left-pane">
			{{> peoplePart 
					appName=appName
					enabled=enabled 
					enableDescription=enableDescription
					hasHidden=hasHidden 
					hasUnamed=hasUnamed 
					reviewIgnoredMsg=reviewIgnoredMsg
					reviewPeopleMsg=reviewPeopleMsg
					persons=persons 
					noPhotos=noPhotos
					count=count
			}}
		</div>
		<!-- ================== DIVIDER ================== -->
    	<div class="divider"></div>

		<!-- ================== RIGHT SIDE (dynamic table) ================== -->
		{{> bulkAssignerPart hidden=hidden bulkSave=bulkSave bulkAssignNameHint=bulkAssignNameHint}}
	</div>
{{else if personName}}
	{{> singlePersonPart 
			personName=personName 
			renameHint=renameHint
			hideHint=hideHint
			showMoreButton=showMoreButton
			personImages=personImages
	}}
{{else if persons}}
	{{> peoplePart 
			appName=appName
			enabled=enabled 
			enableDescription=enableDescription
			hasHidden=hasHidden 
			hasUnamed=hasUnamed 
			reviewIgnoredMsg=reviewIgnoredMsg
			reviewPeopleMsg=reviewPeopleMsg
			persons=persons 
			noPhotos=noPhotos
			count=count
	}}
{{else if loaded}}
	{{> loadedPart
			appName=appName
			enabled=enabled 
			enableDescription=enableDescription
			hasHidden=hasHidden 
			hasUnamed=hasUnamed 
			reviewIgnoredMsg=reviewIgnoredMsg
			reviewPeopleMsg=reviewPeopleMsg
			emptyMsg=emptyMsg
			emptyHint=emptyHint
	}}
{{else}}
	{{> loadingPart}}
{{/if}}

</div>